node_modules
.dist
.DS_Store
dist
.env
npm-install.log

# Drizzle generated artifacts
/drizzle
.vercel
.env*.local

# Next.js build outputs and caches
.next
next-dev.log
.turbo

# pnpm store
.pnpm-store
